<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Red - Add Color to PHP</title>

    <style>
 	html,body {
 		margin:0;
 		padding:0;
 		width:100%;
 		height:100%;
 	}
    body {
    	display:table;
    }

 

    p {
    	display:table-cell;
    	text-align:center;
    	vertical-align:middle;
    }
    img {
    	   transition: opacity .50s ease-in-out;
   -moz-transition: opacity .50s ease-in-out;
   -webkit-transition: opacity .50s ease-in-out;
    }
    img:hover {
    	opacity:0.3;
    }

    </style>
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
     <script src="{{ app.Path('web') }}/assets/default/js/red.js"></script>

  </head>

<body style='background-color:#161616;overflow:hidden'>
	    <p><img class='test' src='{{ app.Path("web") }}/assets/default/images/redlogo.png' alt='logo'/></p>
<input type='hidden' value='test' id='test_name'>
</body>

</html>
